.NewJobPane
    display: flex
    flex-direction: column
    gap: 2em
    
    button
        display: inline-block
        width: min-content
        white-space: nowrap
        padding: .25em
        border: thin black solid
    