
.drop-target-container {
    display: flex;
    flex-direction: column;
    border-radius: var(--br);

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        padding: 1rem;
        
    }
}

.drop-target {
    padding: 2rem;
    border: var(--bw) dashed var(--fg);
    border-radius: var(--br);
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 100ms;
    color: var(--fg);

    &[aria-disabled="true"] {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &[data-dragging="true"] {
        background-color: var(--hover);
        color: var(--hover-contrast);
        .browse-button {
            color: var(--hover-contrast-links);
            text-decoration-color: var(--hover-contrast-links);
        }
        
    }
    .drop-target-text {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        
    }
}

