.job-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    summary h2 {
        display: inline;
        vertical-align: middle;
    }
    .job-status, .job-settings, .job-results, .job-messages {
        padding: .5rem;
        background-color: var(--bg);
        border-radius: var(--br);
    }
    .job-status {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: var(--fontsize-larger);
        
        .completed {
            color: var(--ok);
        }
        .error {
            color: var(--error);
        }
        .running {
            color: var(--primary);
        }
    }

    .job-settings, .job-results {
        ul {
            border-radius: var(--br);
            background-color: var(--bg);
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

        li {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            transition: all 100ms;
            padding: .25rem;
            border-radius: var(--br);
            
            &:hover {
                background-color: var(--hover);
                color: var(--hover-contrast);
            }
            span:first-of-type {
                font-weight: bolder;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 15rem;
            }
        }
    }


    .job-messages {
        background-color: var(--bg);
        
        ul {
            font-family: var(--fw-font-fam);
            margin-left: var(--pad);
            list-style-type: none;

            .error {
                color: var(--error);
            }

            .info {
                color: var(--fg);
            }

            .warning {
                color: var(--warning);
            }

            .debug {
                color: var(--fg);
            }

            .trace {
                color: var(--fg);
            }
        }
        ul ul {
                padding-left: 1rem;
                border-left: 1px solid var(--primary);
                border-bottom: 1px solid var(--primary);
                margin-bottom: .5rem;
                margin-top: .5rem;
                margin-left: 1rem;

                :last-child {
                    margin-bottom: 1rem;
                }
            }
    }
}