.new-job {
    display: grid;
    grid-template-areas: "select-script drag-drop"
    "sponsorship sponsorship";
    grid-template-rows: minmax(80%, 100%) min-content;
    grid-template-columns: 50% 50%;
    height: 90vh;
    padding: 5%;
    column-gap: 2rem;

    .select-script, .drag-drop-filter-files, .sponsorship {
        justify-self: center;
        align-self: center;
    }
    .select-script, .drag-drop-filter-files {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        select {
            width: 100%;
        }
        label, .info {
            align-self: center;
        }
    }
    .drag-drop-filter-files 
    {
        width: 100%;
        
        .drop-target {
            height: 20rem;
            width: 100%;
        }
    }
    .drag-drop-filter-files:has(.files) {
        .drop-target {
            height: 10rem;
        }
    }
    .sponsorship {
        grid-column: 1/3;
        background-color: var(--bg);
    }
}

/* .new-job with details of drag drop result */
.new-job:has(.files) {
    padding: inherit;
    height: inherit;
    .drag-drop-filter-files {
        grid-column-end: 3; 
        grid-column-start: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 2rem;
    }
    .files {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        ul {
            list-style-type: none;
        }
        li {
            border-radius: var(--br);
            padding: 3px;
        }
        li:hover {
            background-color: var(--hover);
            color: var(--hover-contrast);
        }
    }
    .files-by-script {
        /* border-radius: var(--br);
        border: var(--bw) var(--fg-off) solid;
        padding: 8px; */
    }
    .files-by-script > .row select {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 25rem;
    }
}
@media(max-width: 1000px) {
    .new-job {
        display: flex;
        flex-direction: column;
        
        .select-script, .drag-drop-filter-files {
            height: 50%;
            width: 100%;
        }
        .select-script {
            select {
                width: 100%;
            }
        }
        .drag-drop-filter-files {
            .drop-target {
                width: 100%;
            }
        }
    }
}

 