@use 'vars.scss' as *;

$fieldHeight: 70vh;
$engineColWidth: 8rem;

.settings {
    display: flex;
    flex-direction: row;
    

    .settings-menu {
        width: 25%;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: var(--pad);
            padding-left: var(--pad);
            margin-top: 0;

            .selected-menu-item button, button:hover {
                // border-bottom: 2px solid var(--fg);
                text-decoration: underline;
                text-decoration-thickness: 2px;
            }

            button {
                border: none;
                padding: 0;
                margin: 0;
                width: min-content;
                border-radius: 0;
            }
        }
    }
}
.settings-form {
    padding-left: 3px;
    display: flex;
    flex-direction: column;
    gap: calc(var(--pad) * 2);
    width: 100%;
    font-size: large;

    .filename {
        width: 80%;
        overflow: scroll;
    }
    label {
        font-weight: bold;
        
    }
    input, select {
        font-size: large;  
    }
    select {
        width: min-content;
    }
    button:hover {
        background-color: var(--select-mix);
    }

    .fields {
        display: flex;
        flex-direction: column;
        gap: calc(2.5 * var(--pad));
        height: $fieldHeight;
        border: thin solid;
        border-radius: 5px;
        padding: calc(.5 * var(--pad));
    }
}

.save-settings {
    display: flex;
    gap: var(--pad);
    align-items: center;
    justify-self: flex-end;
}

.fields:has(.tts-voices-config) {
    gap: 0;
}
.tts-voices-config {
    display: flex;
    flex-direction: column;
    gap: var(--pad);

    p, ul {
        padding: 0;
        margin: 0;
    }
    
    ul {
        border: thin solid;
        border-radius: 5px;
        padding: 1px;
        li {
            display: flex;
            flex-direction: row;
            gap: calc(var(--pad)/2);
        }
    }
    

    button {
        width: min-content;
        height: min-content;
    }
    .inline-button {
        border-radius: 10px;
        font-size: medium;
        padding: 2px;
        margin-left: 5px;
    }
    #voicesearch {
        border-radius: 10px;
    }
    #voice-table-controls {
        // display: flex;
        // flex-direction: row;
        gap: var(--pad);
        align-items: center;

        input {
            width: 80%;
        }

        .includeEngines, .includeEngines ul, .includeEngines li {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: none;

            label {
                font-weight: normal;
                width: min-content;
                white-space: nowrap;
            }
        }
    }
    /* the table scrolling container */
    div[role="region"][aria-labelledby][tabindex] {
        overflow: auto;
        max-height: $fieldHeight - 28vh;
    }

    table {
        summary {
            font-weight: bold;
        }
        td {
            width: min-content;
        }
        // make this one a littie wider
        td:nth-child(4) {
            min-width: $engineColWidth + 3rem;
        }
        tr:has(:checked) {
            background-color: var(--select-mix);
        }
        thead {
            text-align: left;
        }
        button {
            border: none;
        }
        th {
            background-color: var(--fg);
            color: var(--bg);
            position: sticky;
            top: 0;
            padding: 5px;
        }

        /* sorting */
        thead th {
            cursor: pointer;
        }
        thead th::after {
            margin-left: 5px;
        }
        thead th[aria-sort='ascending']::after {
            content: '▲';
        }
        thead th[aria-sort='descending']::after {
            content: '▼';
        }
    }

    .selection-summary {
        font-size: smaller;
        font-style: italic;
    }
}

.tts-engines-config {
    .desc {
        font-style: italic;
    }
    ul {
        list-style-type: none;
    }
    &>ul {
        display: flex;
        flex-direction: column;
        gap: calc(var(--pad) * 2);
        margin-top: calc(var(--pad) * 2);
        padding: 0;
        &>li {
            font-weight: bold;
            font-size: larger;
            &>ul {
                font-size: medium;
                margin-top: calc(var(--pad) * 1);
                display: flex;
                flex-direction: column;
                gap: var(--pad);

                &>li {
                    display: flex;
                    flex-direction: row;

                    :first-child {
                        width: 5rem;
                    }
                    :last-child {
                        width: 70%;
                    }
                }
            }
        }

        
    }
}

pre {
    font-size: smaller;
    background-color: lightyellow;
    color: black;
    border-radius: 5px;
    padding: 5px;
}