@use 'vars.scss' as *;

.settings {
    display: flex;
    flex-direction: row;
    

    .settings-menu {
        width: 25%;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: var(--pad);
            padding-left: var(--pad);
            margin-top: 0;

            .selected-menu-item button, button:hover {
                // border-bottom: 2px solid var(--fg);
                text-decoration: underline;
                text-decoration-thickness: 2px;
            }

            button {
                border: none;
                padding: 0;
                margin: 0;
                width: min-content;
                border-radius: 0;
            }
        }
    }
}
.settings-form {
    padding-left: 3px;
    display: flex;
    flex-direction: column;
    gap: calc(var(--pad) * 2);
    width: 100%;
    font-size: large;

    .filename {
        width: 80%;
        overflow: scroll;
    }
    label {
        font-weight: bold;
        
    }
    input, select {
        font-size: large;  
    }
    select {
        width: min-content;
    }
    button:hover {
        background-color: var(--select-mix);
    }

    .fields {
        display: flex;
        flex-direction: column;
        gap: calc(2.5 * var(--pad));
        height: 20rem;
        border: thin solid;
        border-radius: 5px;
        padding: calc(.5 * var(--pad));
    }
}

.save-settings {
    display: flex;
    gap: var(--pad);
    align-items: center;
    justify-self: flex-end;
}

.tts-config {
    div {
        display: flex;
        flex-direction: column;
        gap: var(--pad);
        div {
            display: flex;
            flex-direction: column;
            gap: var(--pad);  
        }
    }
    p, ul {
        padding: 0;
        margin: 0;
    }

    ul {
        border: thin solid;
        border-radius: 5px;
        padding: 1px;
        li {
            display: flex;
            flex-direction: row;
            gap: calc(var(--pad)/2);
        }
    }
    

    button {
        width: min-content;
        height: min-content;
    }
    
    table {
        summary {
            font-weight: bold;
        }
        td {
            width: min-content;
        }
        tr:has(:checked) {
            background-color: var(--select-mix);
        }
        thead {
            text-align: left;
        }
        button {
            border: none;
        }
    }
}

pre {
    font-size: smaller;
    background-color: lightyellow;
    color: black;
    border-radius: 5px;
    padding: 5px;
}