@use 'vars.scss' as *;

// a row of tabs, each with a close icon
// and an empty space for the tab panel, of a fixed height (defined in vars)
// otherwise no influence on the contents of the tab panel

[role=tab] {
    padding: var(--pad);
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: thin solid;
    
    font-weight: normal;
    font-size: larger;
    color: var(--primary-color-2);

    display: flex;
    gap: calc(var(--pad)/2);
    font-size: large;
    transition: all .1s ease-in-out;
    border-bottom: none;
    
    &[aria-selected=false]:hover {
        background-color: var(--secondary-color-2hov);
        color: var(--secondary-2-contrast);
    }
    &[aria-selected=true] {
        background-color: var(--secondary-color-2);
        color: var(--secondary-2-contrast);
        border-bottom-color: var(--background-color);
        border-bottom-width: 1px;
        margin-bottom: -1px;
    }
}

[role=tablist] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[role=tabpanel] {
    padding: calc(var(--pad)/2);
    border: thin solid;
    // border-top: none;
    border-top-left-radius: 0;
    height: var(--tab-panel-height);
}
