@use "sass:color";
@use "sass:map";


$mix-pct: 50%;
$mix-fade-pct: 10%;
$mix-bold-pct: 80%;

// light theme = black text on light background
$light-color: white;
$light-select-color:#0072B2;
$light-error-color-bg: #AD0000;
$light-error-color-fg: white;
$light-warning-color: purple;


// dark theme = white text on dark background
$dark-color: black;
$dark-select-color:#56B4E9;
$dark-error-color-bg: #D55E00;
$dark-error-color-fg: white;
$dark-warning-color: #E69F00;


@function themeColors($base-color, $select-color, $error-color-bg, $error-color-fg, $warning-color) {
    $retval: (
        "color": color.invert($base-color),
        "inverted": $base-color, 
        "mix": color.mix(color.invert($base-color), $base-color, $mix-pct),
        "mix-fade": color.mix(color.invert($base-color), $base-color, $mix-fade-pct), // mixed more with the bg color
        "mix-bold": color.mix(color.invert($base-color), $base-color, $mix-bold-pct), // mixed more with the foreground color
        "select": $select-color,
        "select-mix": color.mix($select-color, $base-color, $mix-pct),
        "error-fg": $error-color-fg,
        "error-bg": $error-color-bg,
        "warning": $warning-color
    );
    @return $retval;
}
$light-theme: themeColors($light-color, $dark-select-color, $light-error-color-bg, $light-error-color-fg, $light-warning-color);
$dark-theme: themeColors($dark-color, $dark-select-color, $dark-error-color-bg, $dark-error-color-fg, $dark-warning-color);

// define some variables
// default to light theme
:root {
    --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
    --fw-font-family: monospace;
    --font-size: 0.9rem;
    --pad: 1rem;
    --border-radius: 4px;
    --tab-panel-height: 90vh;

    --error-fg: #{map.get($dark-theme, 'error-fg')};
    --error-bg: #{map.get($light-theme, 'error-bg')};
    --warning: #{map.get($light-theme, 'warning')};
    --disabled: lightgray;

    // theme-specific colors
     // text color
    --fg: #{map.get($light-theme, 'color')};
    // background color
    --bg: #{map.get($light-theme, 'inverted')};
    // default border color
    --fg-mix: #{map.get($light-theme, 'mix')};
    // faint underline for job settings, form separator
    --fg-mix-fade: #{map.get($light-theme, 'mix-fade')};
    // unselected tab text color
    --fg-mix-bold: #{map.get($light-theme, 'mix-bold')};
    // selected tab, hovered button, checkbox checked, 
    --select: #{map.get($light-theme, 'select')};
    // hovered tab
    --select-mix: #{map.get($light-theme, 'select-mix')};

    --daisy-blue: #192378;
    --daisy-blue-tint: #3243d4;
}

// overrides for dark theme
@media (prefers-color-scheme: dark) {
    :root {
        // theme-specific colors
        --error-fg: #{map.get($dark-theme, 'error-fg')};
        --error-bg: #{map.get($dark-theme, 'error-bg')};
        --warning: #{map.get($dark-theme, 'warning')};
        // text color
        --fg: #{map.get($dark-theme, 'color')};
        // background color
        --bg: #{map.get($dark-theme, 'inverted')};
        // default border color, unselected tab text color
        --fg-mix: #{map.get($dark-theme, 'mix')};
        // faint underline for job settings, form separator
        --fg-mix-fade: #{map.get($dark-theme, 'mix-fade')};
        // unselected tab text color
        --fg-mix-bold: #{map.get($dark-theme, 'mix-bold')};
        // selected tab, hovered button, checkbox checked, 
        --select: #{map.get($dark-theme, 'select')};
        // hovered tab
        --select-mix: #{map.get($dark-theme, 'select-mix')};
    }
}
