@import "reset.css";
@import "imports.css";

:root {
    --br: 10px; /* border radius */
    --bw: 2px; /* border width */

    /* colors */
    --primary: #192378;
    --primary-contrast: white;
    --highlight: #D9CD66;
    --ok:#277A00;
    --warning: #A36A00;
    --error: #DF2935;
    --fg: black;
    --bg: white;
    --bg-off: oklch(from var(--bg) calc(l - 0.02) c h);
    
    --font-fam: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
    --fw-font-fam: monospace;
    --fontsize: 1rem;
    --fontsize-larger: 110%;
    --fontsize-smaller: 80%;
    --box-shadow: 0 0 0 2px var(--primary);
    
}
@media (prefers-color-scheme: dark) {
    :root {
        --fg: white;
        --bg: black;
        --primary: #AAB1EE;
        --primary-contrast: black;
        --bg-off: oklch(from var(--bg) calc(l + 0.2) c h);
        --ok: #57A773;
        --error: #FF595E;
        --warning: #FABC2A;
        
    }
}
html {
    height: 100%;
}
body {
    background-color: var(--bg-off);
    color: var(--fg);
    font-family: var(--font-fam);
    font-size: var(--fontsize);
    height: 100%;
}
a, a:visited {
    color: var(--primary);
}
a:hover {
    text-decoration: underline solid 4px var(--primary);
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
}
*:focus {
    outline: none;
}
input:focus,button:focus, select:focus{
    outline: var(--bw) solid var(--highlight);
}
button {
    border: none;
    border-radius: var(--br);
    background-color: var(--primary);
    color: var(--primary-contrast);
    outline: none;
    width: min-content;
    padding: 4px;

    transition: all 100ms;
    white-space: nowrap;

    &:hover {
        box-shadow: var(--box-shadow);
        background-color: var(--bg);
        color: var(--fg);
    }
    &:active {
        transform: scale(96%);
    }
}
button.invisible {
    color: var(--fg);
    background-color: var(--bg);
    border: none;
    display: flex;
    align-items: center;
}
button.important {
    font-size: var(--fontsize-larger);
    font-weight: bold;
    padding: 8px;   
}
select {
    border-width: var(--bw);
    border-radius: var(--br);
    &:hover {
        box-shadow: var(--box-shadow);
    }
}
input {
    border-radius: var(--br);
    border-width: var(--bw);
    font-size: var(--fontsize-larger);
    &:hover {
        box-shadow: var(--box-shadow);
    }
    &:active {
        box-shadow: green;
    }
}
input[type="checkbox"] {
    align-self: start;
    accent-color: var(--primary);
    border-radius: var(--br);
    width: 1.5rem;
    height: 1.5rem;
    
}
span.file {
    font-family: var(--fw-font-fam);
}
.is-hidden {
    display: none !important;
}
.visually-hidden {
    position: absolute;
    top: auto;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    white-space: nowrap;
}
.info {
    font-style: italic;
}
