[role=tablist] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

[role="tab"],
.add-tab {
    display: flex;
    align-items: center;
    z-index: 2;

    margin: 0;
    background-color: var(--bg);
    color: var(--fg);

    border-radius: var(--br);
    border: none;
    
    outline: none;
    font-weight: bold;
    overflow: hidden;
    text-align: left;
    cursor: pointer;

    span.focus {
        display: inline-block;
        margin: 2px;
        padding: 5px;
        border-radius: var(--br);
        white-space: nowrap;
        width: min-content;
        border: var(--bg) var(--bw) solid;
    }
}
.add-tab:hover {
    background-color: var(--bg);
    
    span.focus {
        border-color: var(--primary);
    }
}

/* highlight the tab name on focus/hover/select */
[role="tab"]:focus,
[role="tab"]:hover,
[role="tab"]:active,
[role="tab"][aria-selected="true"], .add-tab:active {
    border: none;
    outline: none;
    background-color: var(--bg);
    box-shadow: none;
    span.focus {
        background: var(--primary);
        color: var(--primary-contrast);
    }
}

[role="tab"][aria-selected="false"] {
    font-weight: normal;
    color: oklch(from var(--fg) l c h / 0.8);
}
[role="tabpanel"] {
    padding: 0.5rem;
    overflow: auto;

    display: grid;
    grid-template-columns: 95% 5%;
    grid-template-rows: 5% 95%;

    .close-tab {
        grid-column: 2;
        justify-self: right;
        align-self: center;
    }
    .close-tab:hover {
        background-color: var(--bg);
    }
    .tabpanel-contents {
        grid-row: 1/3;
    }
}
.tablist-container {
    display: flex;
    flex-direction: row;
    border-bottom: var(--bw) solid var(--fg);
}

